<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Node.js MVC App</title>
</head>
<body>
    <h1>Welcome to My Node.js MVC Application</h1>
    <p>This is a basic example of an MVC application using Node.js and EJS.</p>
    <!-- <p><%= dbConnectionMessage %></p> -->
</body>
</html>